@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container my-3 border border-2 rounded-2 shadow-lg">
        <h1 class="text-center">Summernote Webix SpreadSheet Integration Example</h1>
        <div class="mt-5">
            <div id="editor"></div>
        </div>
    </div>

    <script src="../../Scripts/index.js"></script>
</main>